#pageview {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

#left-gap {
    flex: 1;
}

#right-gap {
    flex: 1;
}

#left-display {
    flex: 2;
}

#inventathon-canvas {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    height: auto;

    margin-top: 20px;
    margin-left: 10px;

    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;

    flex: 3;
}

.inventathon-image {
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    image-rendering: auto;
    -webkit-mask-image: -webkit-gradient(linear, left top, left 80%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.inventathon-choice-imgcontainer {
    min-width: 100px;
    max-width: 500px;
}

.inventathon-header {
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-top: -100px;
}

.inventathon-text {
    font-weight: 400;
    font-size: 16px;

    margin-left: 20px;
    margin-top: 20px;
}

#inventathon-selection-box {
    display: inline-flex;
    flex-direction: column;

    margin-left: 20px;
    margin-top: 30px;
}

#inventathon-personal-details-box {
    display: inline-flex;
    flex-direction: column;

    margin-left: 0;
    margin-top: 10px;
}

#allergy-input {
    border: none;
    border-bottom: 1px solid black;
}

#inventathon-payment-box {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    width: 200px;

    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 20px;

    border: 1px solid lightgrey;
    border-radius: 3px;
}

#payment-info {
    margin-top: 10px;
}

#payment-details-box {
    margin-top: 10px;
}

.secure-input {
    border: none;
    border-bottom: 1px solid black;
}

#card-number-input {
    width: 175px;
}

#card-expiration-input {
    margin-top: 5px;
    width: 130px;
}

#card-cvv-input {
    margin-top: 5px;
    width: 40px;
}

#register-button {
    background-color: forestgreen;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    padding: 3px 7px 3px 7px;
}

.inventathon-choice {
    display: inline-flex;
    flex-direction: row;
    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;
}

.inventathon-choice-image {
    width: 200px;
    border-radius: 3px;
    position: relative;
    height: 110px;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left 80%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.inventathon-choice-title {
    color: white;
    position: absolute;
    display: inline-block;

    text-shadow: 2px 2px 4px #000000;;

    margin-top: -40px;
    margin-left: 5px;
}

.inventathon-choice:hover, .inventathon-choice:hover div {
    color: forestgreen;
}

.inventathon-choice-text:hover {
}

.inventathon-choice-text {
    margin-left: 10px;
}

.inventathon-choice-address-1 {
    position: relative;
    margin-top: 3px;
}

.inventathon-choice-address-2 {
    position: relative;
    margin-top: -15px;
}

.inventathon-choice-attendees {
    position: relative;
    margin-top: 20px;
}

#profile-banner {
    display: flex;
    flex-direction: row;
}

.banner-section {
    text-align: right;
}

#user-info-section {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    min-width: 205px;
}

#user-name {
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
}


#user-school {
    margin-top: 10px;
}

#edit-profile-button {
    margin-top: 10px;
}

#update-section {
    display: flex;
    flex-direction: column;
}

#update-header {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

#update-list-container {
    display: flex;
    flex-direction: column;
}

#update-line {
    display: block;
    width: 50px;
    height: 1px;
    background-color: black;
    border: 3px solid black;
    border-radius: 2px;
}

.update-box {
    width: 350px;
    min-width: 250px;
    height: 90px;
    position: relative;
    display: inline-flex;
    flex-direction: column;

    margin-top: 10px;

    background-color: white;
    border-radius: 3px 3px 1px 3px;
}

.old-update {
    border-bottom: 2px solid orange;
}

.new-update {
    border-bottom: 2px solid forestgreen;
}

.update-text {
    margin: 5px 7px 2px 7px;
    font-size: 18px;
    font-weight: 300;
    flex: 4;
}

.update-date {
    margin: 2px 7px 2px 7px;
    flex: 1;

    font-size: 14px;
    font-weight: 100;
    color: #585858;
}

#qrcodeCanvas {
    flex: 1;
    display: inline-block;
    position: relative;

    padding: 20px 40px 0px 0px;
    width: 100px;
}

#registered-notification {
    display: none;
    position: relative;
    color: white;
    margin-top: 20px;
    height: 0;
    background-color: forestgreen;
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    min-width: 340px;
    max-width: 340px;
}

.notification-transform {
    transition: all 1s ease;
}

.notification-active {
    display: inline-block;
    height:150px;
}

#notification-header {
    position: absolute;
    top: 20px;
    left: 60px;
}

#notification-name {
    font-size: 22px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#notification-address-1 {
    margin-left: 5px;
}

#notification-address-2 {
    margin-left: 5px;
}

#check-mark {
    margin-left: 10px;
    font-size: 40px;
}


@media (max-width: 700px) {
    #pageview {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1000px) {
    .inventathon-choice-image {
        width: 150px;
    }
}